---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Announcements from "../components/Announcements.astro";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import favicon from "../assets/favicons/favicon.svg";
import Schema from "../components/Schema.astro";

// This is the "Frontmatter" where you can pass data to the layout
interface Props {
  title: string;
  description?: string;
  keywords?: string;
  canonical?: string;
}

const { title, description, keywords, canonical } = Astro.props;
const canonicalURL = canonical || new URL(Astro.url.pathname, Astro.site).href;
---

<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href={canonicalURL} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <GoogleAnalytics />

    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    {description && <meta name="description" content={description} />}
    {keywords && <meta name="keywords" content={keywords} />}

    
    <Schema type="MentalHealthOrganization" name="Twilight Psychology" />
    <slot name="page-schema" />

    <script is:inline>
      document.documentElement.classList.add("dark");
    </script>
  </head>

  <body
    class="bg-slate-50 font-['Inter',sans-serif] text-slate-900 flex flex-col min-h-screen"
  >
    <Announcements />
    <Header />

    <main class="grow">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  /* Add any global CSS transitions or base styles here */
  :root {
    --accent-gradient: linear-gradient(45deg, #4f46e5, #818cf8);
  }
</style>
